<h2>Add new entry</h2>
<form action="/calculate">
  Date: <input type="date" name="date"><br>
  Revenue: <input type="text" name="revenue"><br>
  Ad Cost: <input type="text" name="ad_cost"><br>
  Cost of Goods Sold: <input type="text" name="cogs"><br>
  <input type="submit" value="Submit">
</form>
</br>
<a href="/list_all">Back</a>