<table>
  <tr>
    <th>Date</th>
    <th>Revenue</th>
    <th>Ad Cost</th>
    <th>COGS</th>
    <th>Net Profit</th>
    <th>ROI</th>
  </tr>

  <tr>
    <td><%= entry.date.to_s("%d-%m-%Y") %></td>
    <td>$<%= entry.revenue %></td>
    <td>$<%= entry.ad_cost %></td>
    <td>$<%= entry.cogs %></td>
    <td>$<%= entry.profit %></td>
    <td><%= entry.roi %>%</td>
  </tr>
</table>