<table>
  <tr>
    <th>Date</th>
    <th>Revenue</th>
    <th>Ad Cost</th>
    <th>COGS</th>
    <th>Net Profit</th>
    <th>ROI</th>
  </tr>

  <% entries.each do |entry| %>
    <tr>
      <td><%= entry.date.to_s("%d-%m-%Y") %></td>
      <td>$<%= entry.revenue %></td>
      <td>$<%= entry.ad_cost %></td>
      <td>$<%= entry.cogs %></td>
      <td>$<%= entry.profit %></td>
      <td><%= entry.roi %>%</td>
    </tr>
  <% end %>

  <tr>
    <td style="font-weight: bold;">Total</td>
    <td style="font-weight: bold;">$<%= Entry.total_revenue %></td>
    <td style="font-weight: bold;">$<%= Entry.total_ad_cost%></td>
    <td style="font-weight: bold;">$<%= Entry.total_cogs %></td>
    <td style="font-weight: bold;">$<%= Entry.total_profit %></td>
    <td style="font-weight: bold;"><%= Entry.avg_roi %>%</td>
  </tr>
</table>
</br>
</br>
<a href="/calculate_form">Add New Entry</a>